:root {
    --main-bg-color: #E8E8E6;
    --main-color: #215376;
    --secondary-color: #922425;
    --highlight-bg-color: #fcfcff;
    --font-color: #333366;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    color: var(--font-color);
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1rem;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}
#main {
    background-color: var(--main-bg-color);
    margin: 36px;
    padding: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#container {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}
#title,
#subtitle,
#headline {
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
}
#title {
    color: var(--main-color);
    font-size: 3rem;  
}
#subtitle {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 1.5rem;
}
#img-div {
    background-color: var(--highlight-bg-color);
    padding: 12px 12px 16px;
    margin: 48px auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#image {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
}
#img-caption {
    padding-top: 16px;
    line-height: 1.5;
}
#headline {
    color: var(--secondary-color);
    margin: 60px 0;
    font-size: 1.375rem;
}
p {
    line-height: 1.6;
}
@media (max-width: 991px) {
    #title {
        font-size: 2.25rem;
    }
    #subtitle {
        font-size: 1.375rem;
    }
    #headline {
        font-size: 1.25rem;
    }
}
@media (max-width: 767px) {
    #main {
        padding: 16px;
        margin: 0px;
        width: 100%;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
    #title {
        font-size: 2rem;
    }
    #img-caption {
        font-size: 0.9375rem;
    }
}
#tribute-info ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    max-width: 100%;
    position: relative;
}
#tribute-info ul::before {
    background-color: var(--main-color);
    content: "";
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}
#tribute-info ul li {
    position: relative;
    width: 50%;
}
#tribute-info ul li .content {
    background-color: var(--highlight-bg-color);
    padding: 24px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 10px 6px -6px #999;
}
#tribute-info .content .year {
    color: var(--secondary-color);
    padding-top: 8px;
    font-weight: 700;
    font-size: 1.375rem;
    display: block;
}

@media (max-width: 767px) {
    #tribute-info ul li {
        width: 100%;
        text-align: center;
    }
    #tribute-info ul li:nth-child(odd),
    #tribute-info ul li:nth-child(even) {
        padding: 30px 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    #tribute-info ul li:last-child {
        padding-bottom: 0;
    }
    #tribute-info ul li:nth-child(odd)::before,
    #tribute-info ul li:nth-child(even)::before {
        display: none;
    }
    #tribute-info ul li:nth-child(odd)::after,
    #tribute-info ul li:nth-child(even)::after {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}

#tribute-info .quote {
    margin: 60px 0;
    text-align: center;
}
#tribute-info .quote q {
    font-style: italic;
    font-size: 1.25rem;
    line-height: 1.5;
}

@media (max-width: 767px) {
    #tribute-info .quote q {
        font-size: 1.125rem;
    }
}

#more-info {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
}
#more-info #tribute-link {
    color: var(--main-color);
    text-decoration: none;
}
#more-info #tribute-link:hover {
    text-decoration: underline;
    opacity: 0.3;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgb(51, 51, 51, 0.3);
}
#credit {
    margin: 20px 0;
    text-align: center;
}
#credit span {
    color: pink;
    font-weight: 700;
}